<h1>MyPages#about</h1>

<h2>Some of the resources we've used for the development of this app are the following: <br></h2>

<ul>
    <li><a href="https://www.railstutorial.org/">railstutorial</a></li>
	<li><a href="http://guides.rubyonrails.org/">railsguides</a></li>
	<li><a href="https://pragprog.com/book/rails5/agile-web-development-with-rails-5">agile web development text</a></li> 
	<li> <a href="https://www.w3schools.com/">w3schools</a></li>
</ul>


<p>Find me in app/views/my_pages/about.html.erb</p>
