<h1>MyPages#home</h1>



<h2>
Welcome to my Toy App! My name is Daniel Hernandez and I am the creator of 
this here web application using Ruby on Rails 5! Hope you enjoy your stay!
</h2>

<p>Find me in app/views/my_pages/home.html.erb</p>


